.get-pastes {
  border-color: gray;
  border-style: solid;
  border-radius: 10px;
  padding: 10px;
  margin-top: 10px;
  background-color: lightgray;
}

.get-posts-btn {
  border-radius: 10px;
  padding: 5px;
}

.delete-btn {
  margin: 10px;
}

.edit-btn {
  margin: 10px;
}
