.get-pastes {
  border-color: gray;
  border-style: solid;
  border-radius: 10px;
  padding: 10px;
  margin-top: 10px;
  background-color: lightgray;
}

.get-posts-btn {
  border-radius: 10px;
  padding: 5px;
}

.delete-btn {
  margin: 10px;
  background-color: white;
  border-color: black;
  border-style: solid;
  padding: 2px;
}

.delete-btn:hover {
  background-color: blue;
  color: white
}

.edit-btn {
  margin: 10px;
}

.show-more-btn {
  background-color: white;
  border-color: black;
  color: black;
  border-radius: 0%;
  padding: 2px;
}
